<p id="notice"><%= notice %></p>

<h1>Association Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @association_types.each do |association_type| %>
      <tr>
        <td><%= association_type.name %></td>
        <td><%= link_to 'Show', association_type %></td>
        <td><%= link_to 'Edit', edit_association_type_path(association_type) %></td>
        <td><%= link_to 'Destroy', association_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Association Type', new_association_type_path %>
