<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>

<% @associate_with.each do |associate_drink| %>
	<div id="dragMe" > 
		<h1> <%= associate_drink.name %> </h1>
	</div>

	<div class="buckets">
		<div class="dropHere">
			<div class="bucket very"></div>
			<p class="bucket_name">Very related</p>
		</div>
		<div class="dropHere">
			<div class="bucket somewhat"></div>
			<p class="bucket_name">Somewhat related</p>
		</div>
		<div class="dropHere	">
			<div class="bucket not"></div>
			<p class="bucket_name">Not related</p>
		</div>
	</div>
<% end %>

