<%= form_with(model: matrix, local: true) do |form| %>
  <% if matrix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(matrix.errors.count, "error") %> prohibited this matrix from being saved:</h2>

      <ul>
      <% matrix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Drink1 %>
    <%= form.text_field :Drink1, id: :matrix_Drink1 %>
  </div>

  <div class="field">
    <%= form.label :Drink2 %>
    <%= form.text_field :Drink2, id: :matrix_Drink2 %>
  </div>

  <div class="field">
    <%= form.label :Value %>
    <%= form.text_field :Value, id: :matrix_Value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
