<p id="notice"><%= notice %></p>

<h1>Matrix</h1>


<%= button_to  'Clear Matrix', {:controller => :matrices, :action => :remove_things} %>

<br>


<table class="drink_matrix">
  <tr>
    <th>
    </th>
    <% @drinks.each do |drink| %>
      <th> 
        <span class="table_heading" > <%= drink.name %> </span>
      </th>
    <% end %>
  </tr>
  <% @drinks.each do |drink1| %>
    <tr>
      <th> 
        <span class="table_heading" > <%= drink1.name %> </span>
      </th>
      <% @drinks.each do |drink2| %>
          <% if (drink1.name == drink2.name) %>
            <td> x </td>
          <% else %>
            <% @matrices.each do |matrix| %>
              <% if ( (drink1.name == matrix.Drink1 && drink2.name == matrix.Drink2) || (drink2.name == matrix.Drink1 && drink1.name == matrix.Drink2) ) %>
                  <td > <%= matrix.Value %> </td>
              <% end %>
            <% end %>
          <% end %>    
      <% end %>
    </tr>
  <% end %>
</table>