<p id="notice"><%= notice %></p>

<p>
  <strong>Drink1:</strong>
  <%= @matrix.Drink1 %>
</p>

<p>
  <strong>Drink2:</strong>
  <%= @matrix.Drink2 %>
</p>

<p>
  <strong>Value:</strong>
  <%= @matrix.Value %>
</p>

<%= link_to 'Edit', edit_matrix_path(@matrix) %> |
<%= link_to 'Back', matrices_path %>


<table>
	Ï
</table>